.draggable {
    cursor: grab;
}

.dragging {
    opacity: 0.7;
    background-color: #f8d7da !important;
    /* Fondo rojo claro */
    border: 2px dashed #dc3545 !important;
    /* Borde rojo punteado */
    transform: scale(1.05);
    /* Hace que la tarea se vea más grande */
}

.dropzone {
    background-color: #d4edda;
    /* border: 2px dashed #155724; */
    transition: background-color 0.3s ease-in-out;
}